@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(218, 218, 215);
}

a {
    color: #0060B6;
    text-decoration: none;
}

a:hover
{
     color:#00A0C6;
     text-decoration:none;
     cursor:pointer;
}

h1, p {
  font-family: 'Open Sans', sans-serif;

}

.postContainer  {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 1% 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blogContainer {
  padding: 2%;
  display: flex;
  flex-direction: column;
}

.postContainer img {
  width: 300px;
  height: auto;
}

.blogDetails {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.readMore {
  margin: 5% 0;
}
.buttonsEditDelete {
  width: 100%;
  display: flex;
  justify-content:flex-end;
}

.deleteButton {
  margin: 0 5% 0 1%;
}






/*Modal styling*/
.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
    opacity:0;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 80%;
    height: 60%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    overflow-y: scroll;
}

.formFields{
  display: flex;
  flex-direction: column;
}
.formBox {
  margin: 2% 0;
  display: flex;
  flex-direction: column;
}
.modalImage img {
  width: 300px;
  height: auto;
}

.modalBottom {
  display: flex;
}

.modalDate {
  margin-right: 5%;
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 18px;
    text-align: center;
    top: 14px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #fb4b0a;
}
